  body {
    background: url("https://images.pexels.com/photos/313563/sand-pattern-wave-texture-313563.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 40px 40px 40px;
    
    }

    h1, h2, h3 {
        font-family: 'Georgia', Times, Times New Roman, serif;
        font-weight: 700;
        color: #0c0d57;
    }
    
    h1{
        font-size: 40px;
        text-align: center;
    }
    
    h2{
        font-size: 22px;
    }

    p{
        color: #0c0d57;
    }
    
   
    a {
        float: left;
    }
    .crystals-image {
       width: 220px;
       height: 170px;
    }